.login-wrapper {
  margin: 20vh auto 0 auto;
  text-align: center;
  width: 90%;
  max-width: 250px;

  .form-control {
    width: 100%;

    > * {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  > input {
    width: 100%;
    text-align: center;
  }

  > .login-button {
    margin-top: 20px;
  }
}
