@import './styles/fonts.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: #0f0f0f;
}

input {
  border: none;
  border-bottom: solid 2px;
  border-color: rgba(255, 255, 255, 0.75);

  outline: none;
  background-color: transparent;
  color: white;
  transition: all .25s ease;

  &:focus {
    border-color: white;
  }
}

.flex {
  display: flex;
}
